@use './variables' as *;

@mixin post-type-text-style() {
  font-size: $font-size-xs;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

@mixin post-category() {
  display: inline-block;
  padding: 0.55rem 0.75rem;
  border: 2px solid #f0e3d2;
  border-radius: 20px;
  transition: border-color 250ms ease-in-out;

  &:hover {
    border-color: #e0c4c8;
  }
}

@mixin post-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div:first-child {
    display: flex;
    justify-content: space-between;
    padding: $base-padding 0;
    border-bottom: 1px dashed #f0e3d2;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
  }
}

@mixin post-img-container() {
  display: inline-block; 
  overflow: hidden; 
  border-radius: $border-radius-sm;
}

@mixin post-img {
  display: block;
  width: 100%;
  object-fit: cover;
  overflow: clip;
  transition: transform 500ms ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

@mixin pet-label() {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

@mixin pet-details() {
  padding: $padding-sm;
  border-radius: $base-border-radius;
  background-color: $white-color;
  margin-bottom: auto;
}

@mixin pet-details-heading {
  @include pet-label();
  padding-bottom: $base-padding;
  margin-bottom: $base-margin;
  border-bottom: 1px dashed #f0e3d2;
  color: #ff8d7b;
}

@mixin shelter-details {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: $base-margin; 
  grid-row-gap: $base-margin;
  align-items: baseline;

  dt {
    @include pet-label();
    white-space: nowrap;
  }

  dd {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}