@use '../variables' as *;

.page-section {
  padding: $section-padding;

  h1 {
    text-align: center;
    font-size: $font-size-xl;
    line-height: 3.75rem;
    font-weight: 400;
    padding-bottom: $section-padding;
  }

  &__content {
    padding: $section-padding-sm 0;
  }

  @media screen and (max-width: 992px) {
    padding: $section-padding-sm 0;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: $font-size-lg;
      line-height: 2.75rem;
    }
  }
}

.page-map {
  h2 {
    margin-bottom: 0;
  }
  
  div {
    display: flex;
    justify-content: center;
    padding: $base-padding 0 $section-padding-sm;

    iframe {
      width: 40vw;
      aspect-ratio: 4 / 3;
      border-radius: $border-radius-sm;
    }
  }

  @media screen and (max-width: 768px) {
    h2 {
      font-size: $font-size-md;
    }

    div {
      iframe {
        width: 100%;
      }
    }
  }
}