@use '../variables' as *;
@use '../mixins' as *;

.pet {
  padding: $section-padding-sm 0 $section-padding;

  h1 {
    text-align: center;
    font-size: $font-size-xl;
    line-height: 3.75rem;
    font-weight: 400;
    padding: $base-padding 0;

    span {
      background-image: url('~../../images/text_decoration_pink.svg');
      background-position: 50% 102.5%;
      background-size: 300px;
      background-repeat: repeat-x;
    }
  }

  &-img {
    position: relative;
    bottom: $base-margin;
    z-index: 1;
    border-radius: $border-radius-sm;
  }

  &-bg {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: $section-padding-sm;
    width: 100%;
    height: 50vh;
    background-color: $banner-color;

    &__pattern {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-image: url('~../../images/background_pattern.png');
      background-size: 200px;
      background-position: 50% 50%;
      opacity: 0.3;
    }
  }

  &-info {
    display: grid;
    grid-column-gap: $section-padding-sm;
    grid-template-columns: 1fr 1fr 1fr;
    padding: $section-padding-sm $section-padding-sm 0;

    &__content {
      grid-column-start: span 2;

      div {
        @include pet-details();

        p {
          margin-bottom: $base-margin;

          &:nth-of-type(1) {
            @include pet-details-heading();
          }

          &:last-child {
            margin-bottom: 0;
          }
        }  
      }

      &-cap {
        text-transform: capitalize;      

        p {
          white-space: nowrap;     
          overflow: hidden;       
          text-overflow: ellipsis;
        }

        dl {
          @include shelter-details();
        }
      }
    }

    &__details {
      @include pet-details();
    }

    &__shelter {
      @include pet-details();

      &-name {
        text-align: center;
        @include pet-details-heading();
      }

      &-map {
        p {
          padding-bottom: $base-padding;
          
          iframe {
            width: 100%;
            aspect-ratio: 4 / 3;
            border-radius: $border-radius-sm;
          }
        }
      }

      &-list {
        @include shelter-details();
      }

      &-btn {
        display: flex;
        justify-content: center;
        padding: $base-padding;
        margin-top: $margin-sm;
        background-color: #ffa799;
        border-radius: $border-radius-sm;
        transition: background-color 250ms ease-in-out;

        div {
          @include pet-label();
        }

        &:hover {
          background-color: #ff8d7b;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    &-info {
      display: flex;
      flex-direction: column;

      &__shelter {
        margin-top: $margin-sm;

        &-map {
          p {
            iframe {
              max-height: 399px;
            }
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    h1 {
      font-size: $font-size-lg;
      line-height: 2.75rem;
    }
  }

  @media screen and (max-width: 500px) {
    &-info {
      padding: $section-padding-sm $padding-sm 0;
    }
  }
}